@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}
::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1a1a1a; /* Dark track for scrollbar */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #007bbd; /* Bright blue for the scrollbar thumb */
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #005f8d; /* Darker blue on hover */
}
body {
  background-color: #0d1b2a; /* Very dark blue background */
}
header {
  padding-bottom: 1.5rem;
}
#header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-logo {
  height: 35px;
  width: 35px;
  margin: 0.8rem;
}
#header-text {
  font-family: "Black Ops One", sans-serif;
  font-size: 2rem;
  color: #ffffff; /* White for header text */
  margin: 0.8rem;
  text-shadow: 3px 3px 10px #717970c5;
}
#search-input {
  min-width: 20vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid #005f8d; /* Darker blue for input border */
  border-radius: 8px;
  background-color: #001f33; /* Darker blue-gray for input background */
  color: #ffffff; /* White text color for input */
  outline: none;
  margin-left: auto;
  margin-right: 0;
}
#search-button {
  min-width: 3vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid #005f8d; /* Consistent border color */
  border-radius: 8px;
  background-color: #007bbd; /* Bright blue for button */
  cursor: pointer;
  color: white; /* Ensure text is visible on button */
}
#create-note-button {
  min-width: 3vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid #005f8d; /* Consistent border color */
  border-radius: 8px;
  background-color: #007bbd; /* Bright blue for button */
  cursor: pointer;
  color: white;
}
#header-bottom-container-navbar {
  display: flex;
  justify-content: flex-start;
  overflow: auto hidden;
  white-space: nowrap;
  width: 30vw;
  margin: auto;
}
#header-bottom-container-navbar span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#header-bottom-container-navbar span:hover {
  background-color: #005f8d; /* Darker blue on hover */
  border-radius: 8px;
}

/* Notes container and notes card */
#notes-container {
  margin: auto;
  width: 70vw;
  border: 2px solid #444;
  background-color: #1b1b2f;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.note-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 14vw;
  height: 40vh;
  padding: 1rem;
  margin: 1.2rem 0.5rem;
  border-radius: 25px;
  background-color: #1f4068;
  color: #ffffff;
  box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s ease;
}
.note-card:hover {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 5px 5px 25px #e7b4ff;
}
.note-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

/* Note card Modal */
body dialog {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  height: 80vh;
  padding: 1rem;
  border-radius: 25px;
  border: 2px solid #1a252b;
  background: rgba(15, 52, 96, 0.8);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.25s ease;
  outline: none;
}
body dialog img {
  width: 20vw;
  height: 50vh;
  object-fit: contain;
  overflow: hidden;
}

body dialog span {
  color: #ffffff;
  padding: 0.5rem 0rem;
}
.closeModalDialogBtn {
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  background: transparent;
  position: absolute; /* Make the button position absolute */
  top: 10px; /* Set distance from the top */
  right: 10px; /* Set distance from the right */
  cursor: pointer; /* Optional: add a pointer cursor */
  color: #ffffff; /* Ensure the color stands out */
}
