@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}
body {
  background-color: #15202b;
}
header {
}
#header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-logo {
  height: 35px;
  width: 35px;
  margin: 0.8rem;
}
#header-text {
  font-family: "Black Ops One", sans-serif;
  font-size: 2rem;
  color: red;
  margin: 0.8rem;
  text-shadow: 3px 3px 10px #717970c5;
}
#search-input {
  min-width: 20vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #887f80;
  color: #cfd4d6;
  outline: none;
  margin-left: auto;
  margin-right: 0;
}
#search-button {
  min-width: 3vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #880d17;
  cursor: pointer;
}
