@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}
::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
  border: 4px solid transparent; /* Adds space around the handle */
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
body {
  background-color: #15202b;
}
header {
  padding-bottom: 1.5rem;
}
#header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-logo {
  height: 35px;
  width: 35px;
  margin: 0.8rem;
}
#header-text {
  font-family: "Black Ops One", sans-serif;
  font-size: 2rem;
  color: red;
  margin: 0.8rem;
  text-shadow: 3px 3px 10px #717970c5;
}
#search-input {
  min-width: 20vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #887f80;
  color: #cfd4d6;
  outline: none;
  margin-left: auto;
  margin-right: 0;
}
#search-button {
  min-width: 3vw;
  margin: 0.8rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #880d17;
  cursor: pointer;
}
#header-bottom-container-navbar {
  display: flex;
  justify-content: flex-start;
  overflow: auto hidden;
  white-space: nowrap;
  width: 30vw;
  margin: auto;
}
#header-bottom-container-navbar span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#header-bottom-container-navbar span:hover {
  background-color: #887f80;
  border-radius: 8px;
}

/* Notes container and notes card */
#notes-container {
  margin: auto;
  width: 70vw;
  border: 2px solid black;
  background-color: #3d3d3d;

  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.note-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 14vw;
  height: 40vh;
  padding: 1rem;
  margin: 1.2rem 0.5rem;
  border-radius: 25px;
  background-color: #25313d;
  color: white;
  box-shadow: inset 0 0 35px #000000;
  transition: box-shadow 0.25s ease;
}
.note-card:hover {
  box-shadow: inset 0 0 15px #000000, 5px 5px 25px red;
}
.note-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
